.footer {
  padding-bottom: 88px;
}

.footer__inner {
  padding: 47px 85px;
  display: flex;
  align-items: center;
  background-color: #2c343e;
}

.footer__navbar {
  margin-left: 103px;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 368px;
}

@media only screen and (max-width: 768px) {
  .footer__inner {
    padding: 54px 190px 54px 215px;
    flex-direction: column;
  }
  .footer__navbar {
    margin: 32px 0 65px;
  }
  .footer__list {
    margin-left: 0;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    padding-bottom: 72px;
  }
  .footer__inner {
    padding: 54px;
    flex-direction: column;
  }
  .footer__navbar {
    margin: 50px 0 50px;
  }
  .footer-it + .footer-it {
    margin-left: 0;
    margin-top: 24px;
  }

  .footer-nav{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .hero__inner {
      background-image: url("../images/bgi@2x.jpg");
    }
    @media only screen and (max-width: 768px) {
      .hero__inner {
        background-image: url("../images/bgi-tablet@2x.jpg");
      }
    }
    @media only screen and (max-width: 576px) {
      .hero__inner {
        background-image: url("../images/bgi-mobile@2x.jpg");
      }
    }
    .collection__inner {
      background-image: url("../images/collection-bg-img@2x.png");
    }
    .collection__item:nth-child(1)::before {
      background-image: url("../images/Gran-Espresso@2x.png");
    }
    
    .collection__item:nth-child(2)::before {
      background-image: url("../images/Planalto@2x.png");
    }
    
    .collection__item:nth-child(3)::before {
      background-image: url("../images/Piccollo@2x.png");
    }
    
    .collection__item:nth-child(4)::before {
      background-image: url("../images/Danche@2x.png");
    }
    .about__inner {
      background-image: url("../images/about-bgi@2x.jpg");
    }
    @media only screen and (max-width: 768px) {
      .about__inner {
        background-image: url("../images/about-bgi-tablet@2x.jpg");
      }
    }
    
    @media only screen and (max-width: 576px) {
      .about__inner {
        background-image: url("../images/about-bgi-mobile@2x.jpg");
      }
    }
    .commitment__inner {
      background-image: url("../images/commitment@2x.jpg");
    }
    @media only screen and (max-width: 768px) {  
      .commitment__inner {
        background-image: url("../images/commitment-tablet@2x.jpg");
      }
    }
    
    @media only screen and (max-width: 576px) {    
      .commitment__inner {
        background-image: url("../images/commitment-mobile@2x.jpg");
      }
    }
    .capuchino {
      background-image: url("../images/capuchino@2x.jpg");
    }
    @media only screen and (max-width: 768px) {    
      .capuchino {
        background-image: url("../images/capuchino-tablet@2x.jpg");
      }
    }
    @media only screen and (max-width: 576px) {   
      .capuchino {
        background-image: url("../images/capuchino-mobile@2x.jpg");
      }
    }
}
